<!DOCTYPE html>
<html>
  <head>
    <title>JS-TicTacToe</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <button id="requestMatch" type="button">Request Match</button>

    <div>
      <table id="grid">
      </table>
    </div>

    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="../Controller/grid.js"></script>
    <script src="../Controller/popup.js"></script>
    <script src="../Controller/game.js"></script>
  </body>
</html>
